.header-title{
    color: blue;
    margin-left: 10%;
    margin-top: 5%;
}
#select-title{
    color: black;
}

/* Mobile Responsive */
@media screen and (max-width: 576px) {
    .header-title {
        text-align: center;
    }

}