.header-title{
    color: blue;
    margin-left: 10%;
    margin-top: 5%;
}
#select-title{
    color: black;
}

.display-icon{
    display: flex;
    gap: 20px;
    align-items: center;
    
}
#icon-size{
    font-size: 40px;
}

/* Mobile Responsive */
@media screen and (max-width: 576px) {
    .header-title {
        text-align: center;
    }

}