.main-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.excercise-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    margin-left: 5%;
}
.information-container{
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    height: 900px;
    background-color: #FFFFFF;
    padding: 16px;
}
.user-info img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.user-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 4px;
}
.break-times{
    display: flex;
    justify-content: space-around;
    border: 1px solid aliceblue;
    background-color: aliceblue;
    padding: 16px 0px 16px 0px;
}
.break-times button{
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    background-color: #FFFFFF;
    height: 40px;
    width: 40px;
    align-items: center;
}
.break-times button:focus{
    background-color: blue;
    color: #FFFFFF;
}

/* Mobile Responsive */
@media screen and (max-width: 576px) {
    .main-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
}
@media screen and (max-width: 576px) {
    .excercise-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
    }
    
}
@media screen and (max-width: 576px) {
    .information-container{
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
}